body {
  background-color: #7f98ba;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  height: 100vh;
}
.myCard {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border-width: 5px;
  border-style: solid;
}
